{% extends 'base.html' %}
{% block content %}
<body>
    <h2>Exponential Growth Calculator</h2>
    <div>
    <p>This calculator is here to help you visualize and understand how quickly quantities can multiply over time.</p>
    <p> Are you a farmer, investor, or simply curious about exponential growth? Eg If you are a farmer or want to do farming, and you want to calculate the yield of your animals or chicken over a certain period of time. The growth can be doubling every year, triple or increase by a percentage.</p>
    <p> Eg let us asume that you have two cows, each cow gives birth in the first year, the second year the original cows plus the calves give brith, the third year all of them give birth etc, you can estimate what will be the yield of your flock in a certain period eg 3 years.</p></div>
    
    <div class="container">
        <h2>Start Simulation</h2>
            <h3>Choose the specified model or fill in the details to use the general model</h3>
                <a class="menu-button" href="{% url 'herd_simulator_view' %}">Dairy Cows</a>
            
                <a class="menu-button" href="{% url 'chicken_simulator_view' %}">Chicken</a>

                <a class="menu-button" href="{% url 'goat_simulator_view' %}">Goats</a>         
            
                <form method="get" action="{% url 'simulation' %}">
                <button type="submit" name="simulation_type" value="herd">Dairy Cows</button>
                <button type="submit" name="simulation_type" value="chicken">Chicken</button>
                <button type="submit" name="simulation_type" value="goat">Goats</button>
            </form>
            
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="simulation_type" id="simulation_type" value="{{ request.GET.simulation_type }}">
            {{ form.as_p }}  
         <button type="submit">Simulate</button>
        </form>
            {% csrf_token %}
            <label for="investment_name">Name of your Product:</label>
            <input type="text" id="investment_name" name="investment_name" placeholder="Enter investment_name">
            <label for="initial_amount">Initial Investment:</label>
            <input type="text" id="initial_amount" name="initial_amount" value="{{ initial_amount|default:'' }}" placeholder="Enter initial amount">

            <label for="growth_rate">Growth Rate (%):</label>
            <input type="text" id="growth_rate" name="growth_rate" value="{{ growth_rate|default:'' }}" placeholder="Enter growth rate (e.g. 10%, etc)">

            <label for="time">Time (in years):</label>
            <input type="text" id="time" name="time" value="{{ time|default:'' }}" placeholder="Enter time in years">

            <button type="submit">Calculate</button>
        </form>

        {% if result %}
        <div class="result">
            <h4>After {{ time }} years, you will have a total of: <strong>{{ result }} {{ investment_name }}</strong></h4><hr>
            <h4> Assumptions:</h4>
            <h4>Zero mortality rate and a constant rate of growth</h4>
        </div>
        {% endif %}

        {% if error %}
        <div class="error">
            <p>{{ error }}</p>
        </div>
        {% endif %}
    </div>
    <!-- <p>Debug: Investment Name = {{ investment_name}}</p>
    <p>Debug: Time = {{ time }}</p> -->
{% endblock %}

