{% extends 'base.html' %}

{% block content %}
<script>
    function formatWithCommas(input) {
    // Remove existing commas
    let value = input.value.replace(/,/g, '');

    // Only allow numbers
    if (!isNaN(value)) {
        // Add commas back after every three digits
        input.value = Number(value).toLocaleString();
    } else {
        input.value = input.value.substring(0, input.value.length - 1);
    }
}
</script>
</head>
<body>
    <h2>Annuity Interest Calculator</h2>
        <p>If you have a constant amount you want to save over a certain period of time eg 10 years and you want to save in regular intervals eg monthly(12), quarterly(4), half yearly(2) or once per year(1), then you can estimate what will be the value of your investment in the future at the end of your set period. 
            <p><strong>Key differences between annuities and compund interest: </strong> No. 1 is the frequency of PRINCIPAL deposit. Compound interest is based on a single one off deposit while annuities involve regular deposits till the end. </p>
            <p>A good example of annuities is saving in a pension scheme like the Kenya's NSSF where an employee saves 6% of their income or an amount between KES 360 - 1,080 per month from their salary, with the employer contributing for them a similar amount.</p>
            NB: 
            <br><p>Assume you will not withdraw any amount including interest from the investment during the investment period. 
            <p>Use the interest rate given by your investment partner eg a Bank / SACCO or assume the Central Bank's base lending rate of 12.75%.</p>
    
    <div class="container">
    <h3>Key in the details below to start estimating <h3>
        <form method="POST" action="">
            {% csrf_token %}
            <input type="number" name="principal" placeholder="Instalments Amount (KES)" required><br>
            <input type="number" step="0.01" name="annual_rate" placeholder="Annual Interest Rate (%)" required><br>
            <input type="number" name="years" placeholder="Number of Years" required><br>
            <input type="number" name="compounds_per_year" placeholder="No. of Times Interest is Paid Per Year" required><br>
            <button type="submit">Calculate</button>
        </form>

    {% if future_value %}
        <div class="result">
            Value of Your Savings: {{ future_value|floatformat:2 }} KES
        </div>
    {% endif %}
        </p>
        </p>
    </div>
</body>
{% endblock %}
</html>

