{% extends 'base.html' %}
{% block content %}
<body>
    <h2>Car Import Cost Calculator</h2>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <label for="car_make">Car Make:</label>
                <input type="text" name="car_make" required><br>
            
                <label for="car_model">Car Model:</label>
                <input type="text" name="car_model" required><br>
            
                <label for="year_of_manufacture">Year of Manufacture:</label>
                <input type="number" name="year_of_manufacture" required><br>
            
                <label for="cif_value">CIF Value (in KES):</label>
                <input type="number" step="0.01" name="cif_value" required><br>
            
                <button type="submit">Calculate Import Cost</button>
            </form>
            
            {% if total_cost %}
                <h3>Your total cost of importing {{ vehicle_info }} is: KES {{ total_cost|floatformat:2 }}</h3>
            {% elif vehicle_info %}
                <h3>{{ vehicle_info }}</h3>
            {% endif %}
            
        </div>

</body>
{% endblock %}
</html>
