{% extends 'base.html' %}
{% block content %}
<body>
    {% csrf_token %}
    
    <p><strong>Personal finances involve mastering:</strong></p>
        <p><b>Future Values of Investments</b> (Compound Interest, Annuity Interest, Time value of money),<strong> Budgeting and Spending</strong> (Tracking expenses, Setting realistic goals), <strong> Debt Management</strong> (Credit cards, Student loans, Bank/ SACCO loans, etc), <strong> Investing </strong> (Risk tolerance, Diversification, etc), <strong> Retirement Planning</strong> (Saving enough, Investment strategy), <strong>Estate Planning</strong> (Insurance, Trusts, etc.),<strong> Taxes</strong> (Tax laws, Tax planning, etc), <strong> Financial Literacy</strong> (Basic concepts, Decision-making, etc)  </p>
    <br>
    <h3>Select an option for assistance:</h3>

    <div class="button-container">
        <a class="menu-button" href="{% url 'net_worth_calculator' %}">Networth Calculator</a>
        <a class="menu-button" href="{% url 'compound_interest' %}">Compound Interest Calculator</a>
        <a class="menu-button" href="{% url 'calculate_future_value' %}">Annuity Interest Calculator</a>
        <a class="menu-button" href="{% url 'exponential_growth' %}">Exponential Growth Calculator</a>
        <a class="menu-button" href="{% url 'calculate_principle' %}">Savings Instalments Calculator</a>
        <a class="menu-button" href="{% url 'personal_budget' %}">Budgeting & Cashflow</a>
        
        <a class="menu-button" href="{% url 'retirement_planner' %}">Retirement Planner</a>        
        <a class="menu-button" href="{% url 'loan_amortization_schedule' %}">Loan Armotization Schedule</a>
        <a class="menu-button" href="{% url 'tax_calculator' %}">Tax Liabilities Manager</a>
        <a class="menu-button" href="{% url 'calculate_import_cost' %}">Car Import Duty Calculator</a>
        <a class="menu-button" href="{% url 'calculate_materials' %}">Construction Materials Estimate</a> 
        <a class="menu-button" href="{% url 'risk_calculations' %}">Business Risk Calculator</a>       
        <a class="menu-button" href="{% url 'feasibility_study' %}">Investments Feasiility Study</a>
        
    </div>
    
</body>
{% endblock %}
</html>

<!-- <style>
table { 
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
form {
margin: 20px 0;
}
input, button {
padding: 10px;
margin: 5px;
}
.result {
margin-top: 20px;
padding: 20px;
background-color: #e2f4d3;
border: 1px solid #b2d8a3;
color: #38761d;
font-size: 24px;
}
</style>

    <div>
    <h1 style="text-align:center;">Main Menu</h1>
     <table>
        <thead>
            <tr>
                <th>Functionality</th>
                <th>Visit Site</th>
            </tr>
        </thead>
        <tbody>
            <h2>Select your need</h2>
            <tr>
                <td>Calculate Future Value</td>
                <td><a href="{% url 'calculate_future_value' %}">Calculate The Future Value of Your Investment</a></td>
            </tr>
            <tr>
                <td>Calculate Principal</td>
                <td><a href="{% url 'calculate_principle' %}">Calculate Savings Instalments</a></td>
            </tr>
            <tr>
                <td>Calculate Principal</td>
                <td><a href="{% url 'calculate_principle' %}">Calculate Savings Instalments</a></td>
            </tr>
            <tr>
                <td>Calculate Principal</td>
                <td><a href="{% url 'calculate_principle' %}">Calculate Savings Instalments</a></td>
            </tr>
            <tr>
                <td>Calculate Principal</td>
                <td><a href="{% url 'calculate_principle' %}">Calculate Savings Instalments</a></td>
            </tr>
            <tr>
                <td>Calculate Principal</td>
                <td><a href="{% url 'calculate_principle' %}">Calculate Savings Instalments</a></td>
            </tr>
        </tbody>
    </table>
        <h2>Select a Calculator</h2>
        <ul>
            <li><a href="{% url 'calculate_future_value' %}">Calculate The Future Value of Your Investment</a></li>
            <li><a href="{% url 'calculate_principle' %}">Calculate Savings Instalments</a></li>
        </ul>
    </div> -->



