{% extends 'base.html' %} 

{% block content %}
   
    
    <script>
    
        // Function to add new asset row
        function addAssetRow() {
            var table = document.getElementById("assetTable");
            var row = table.insertRow(-1); // Insert row at the end
            row.innerHTML = `
                <td><input type="text" name="asset_name" placeholder="Enter asset name"></td>
                <td><input type="number" step="0.01" name="asset_value" placeholder="Enter value"></td>
            `;
        }

        // Function to add new liability row
        function addLiabilityRow() {
            var table = document.getElementById("liabilityTable");
            var row = table.insertRow(-1); // Insert row at the end
            row.innerHTML = `
                <td><input type="text" name="liability_name" placeholder="Enter liability name"></td>
                <td><input type="number" step="0.01" name="liability_value" placeholder="Enter value"></td>
            `;
        }

       </script>
</head>
<body>
    
        <h2 class="title">My Net Worth Calculator</h2>    
            <p><b>What is Net Worth?</b></p>
            <p>Your net worth is a snapshot of your financial health. It's the difference between what you OWN (assets) and what you OWE (liabilities).</p>
            <p><strong>Let's figure out your net worth together.</strong></p>
            <p>Simply enter your assets and liabilities below. 
                <br>Assets can include things like house, plots, cars, debtors, stocks, shares, savings accounts, investments, and property. 
                <br>Liabilities might be loans, credit card debt, mobile money loans, creditors, or mortgages.</p>
    <div class="container">
        <form method="POST">
            {% csrf_token %}    
            <!-- Assets Section -->
            <h2>List your Assets</h2>
            <p>The things you own; cars, land, debtors, cash, savings, etc.</p>
            <table id="assetTable">
                <tr>
                    <th>Asset Name</th>
                    <th>Value</th>
                </tr>
                {% for name, value in zipped_assets %}
                <tr>
                    <td><input type="text" name="asset_name" value="{{ name }}"></td>
                    <td><input type="number" pattern="\d+(,\d{3})*(\.\d+)?" id="amount" oninput="formatWithCommas(this)" step="0.01" name="asset_value" value="{{ value }}"></td>
                </tr>
                {% endfor %}
            </table>
            
            <button type="button" class="add-line-btn" onclick="addAssetRow()">Add an Asset</button>
            <br>
           
    <br>
            <!-- Liabilities Section -->
            <h2>List your Liabilities</h2>
            <p>What you owe; loans, creditors, etc.</p>
            <table id="liabilityTable">
                <tr>
                    <th>Liability Name</th>
                    <th>Value</th>
                </tr>
                {% for name, value in zipped_liabilities %}
                <tr>
                    <td><input type="text" name="liability_name" value="{{ name }}"></td>
                    <td><input type="number" pattern="\d+(,\d{3})*(\.\d+)?" id="amount" oninput="formatWithCommas(this)" step="0.01" name="liability_value" value="{{ value }}"></td>
                </tr>
                {% endfor %}
            </table>
            <button type="button" class="add-line-btn" onclick="addLiabilityRow()">Add a Liability</button>
    <br><br>
            <!-- Submit Button -->
            <button type="submit" class="submit-btn">Calculate</button>
            
        </form>
        
        <table>
            <thead>
                <tr>
                    <th>ITEM</th>
                    <th>VALUE</th>
                </tr>
            </thead>
            
            <tbody>
                <h3>Below is the summary of your assets and liabilities and your net worth as of <p id="date"></p></h3>
                
                <tr>
                    <td>Total Assets</td>
                    <td><p>  {{ total_assets }}</p></td>
                    
                </tr>
                <tr>
                    <td>Total Liabilities</td>
                    <td><p>{{ total_liabilities }}</p></td>
                    
                </tr>
                <tr>
                    <td>Net Worth</td>
                    <td><p>{{ net_worth }}</p></td>
                    
                </tr>
            </tbody>
        </table>
        <p><strong>Recommendation:</strong> {{ recommendation }}</p>
        
        <!-- Display Results -->
        <!-- <div class="result">
        {% if net_worth is not None %}
        <h3>Results</h3>
        <p>Total Assets:        {{ total_assets }}</p>
        <p>Total Liabilities:   {{ total_liabilities }}</p>
        <p><b>Net Worth:        {{ net_worth }}</b></p>
        <p><strong>Recommendation:</strong> {{ recommendation }}</p>
        <button type="submit" name="download_pdf" class="btn-pdf">Download PDF</button> -->
        <!-- <a href="{% url 'download_pdf' %}" class="btn btn-success mt-3">Download PDF Report</a> -->
        {% endif %}
        <button type="submit" name="download_pdf" class="btn-pdf">Download PDF</button>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.0.0/dist/autoNumeric.min.js"></script>
    <script>
        function formatNumber(input) {
            var value = input.value;
            value = value.replace(/\D/g, ''); // Remove non-numeric characters
            value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ','); // Insert commas
            input.value = value;
        }
  
        function displayDate() {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            var hh = String(today.getHours()).padStart(2, '0');
            var mm = String(today.getMinutes()).padStart(2,   '0');
            today = dd + '/' + mm + '/' + yyyy + ' ' + hh + ':' + mm;
            document.getElementById("date").innerHTML = today;
        }
  
        $(document).ready(function() {
            // Initialize autoNumeric for asset and liability values
            $('input[name="asset_value"]').autoNumeric('init', {
            digitGroupSeparator: ',',
            minimumValue: 0
            });
            $('input[name="liability_value"]').autoNumeric('init', {
            digitGroupSeparator: ',',
            minimumValue: 0
            });
    
            // Call displayDate() to update the date immediately
            displayDate();
        });
        function formatWithCommas(input) {
    // Remove existing commas
    let value = input.value.replace(/,/g, '');

    // Only allow numbers
    if (!isNaN(value)) {
        // Add commas back after every three digits
        input.value = Number(value).toLocaleString();
    } else {
        input.value = input.value.substring(0, input.value.length - 1);
    }
}
    </script>
</body>
    {% endblock %}

