{% extends 'base.html' %}
{% block content %}
<body>
    <h2>My Retirement Planner</h2>
    
        <p>Planning for retirement is basically planning for your cash inflow after you retire. This means putting into consideration whether the amount of cash flowing into your bank account will be able to cater for all your needs after you have left active employment.</p><p>There are a few factors to consider here.<p><p> 1. What will be the total of your monthly expenses ie meals and shopping, transport & fuel, vehicle maintenance costs, clothing & personal grooming, jewelerlly & beauty, clubs membership fee, insurance, holidays & vacations, workers, community, church and charity contributions, land rates(we are assuming that you will have already built your primary home by this time so no rent payments), etc  
        <br> 2. What kind of an investment can you make to give you that cash flow you got above consistently for the next may be 40 years after you retire?. You can invest in areas that can be passed on as an inheritance to your people eg real estate like building apartments for rent, you can start a business eg hotels, manufacturing, retail and wholesale, import and export, you can buy shares in companies and earn dividends,  or you can save in fixed deposit accounts and earn interest, or pension schemes / insurance and get monthly income after maturity. You can build these while you are still in employment and finance your investments with your youthful income. </p>
        <p> 3. Where  do you start? After you have gotten the totals in 1 above, then multiply by 12 to know amount per year, then multiply with number of years eg 40 years. The total amount will give you a glimpse of what to target. </p> 
        <p>Fill the details below to get the above.</p>

    <div class="container">
        <h3>Fill the details below</h3>
            <form method="POST">
                {% csrf_token %}
                <label for="retirement_date"></label>
                <input type="text" id="retirement_date" name="retirement_date" placeholder="Enter Expected Date of Retirement:">
                
                <label for="meals_shopping"></label>
                <input type="text" id="meals_shopping" name="meals_shopping" value="{{ meals_shopping|default:'' }}" placeholder="Enter Meals and Shopping Costs:">

                <label for="transport_fuel"></label>
                <input type="text" id="transport_fuel" name="transport_fuel" value="{{ transport_fuel|default:'' }}" placeholder="Enter Transport & Fuel Costs:">

                <label for="vehicle_maintenance_costs"></label>
                <input type="text" id="vehicle_maintenance_costs" name="vehicle_maintenance_costs" value="{{ vehicle_maintenance_costs|default:'' }}" placeholder="Enter Vehicle Maintenance Costs Amount">

                <label for="clothing_personal_grooming"></label>
                <input type="text" id="clothing_personal_grooming" name="clothing_personal_grooming" value="{{ clothing_personal_grooming|default:'' }}" placeholder="Enter Clothing & Personal Grooming Costs:">

                <label for="jewellerly_beauty"></label>
                <input type="text" id="jewellerly_beauty" name="jewellerly_beauty" value="{{ jewellerly_beauty|default:'' }}" placeholder="Enter Jewelerlly & Beauty Costs:">

                <label for="clubs_membership_fee"></label>
                <input type="text" id="clubs_membership_fee" name="clubs_membership_fee" value="{{ clubs_membership_fee|default:'' }}" placeholder="Enter Clubs Membership Fee (Golf, Gymn, etc):">

                <label for="insurance"></label>
                <input type="text" id="insurance" name="insurance" value="{{ insurance|default:'' }}" placeholder="Enter Insurance Costs (Medical, car, etc):">

                <label for="holidays_vacations"></label>
                <input type="text" id="holidays_vacations" name="holidays_vacations" value="{{ holidays_vacations|default:'' }}" placeholder="Enter Holidays & Vacations Costs:">

                <label for="workers"></label>
                <input type="text" id="workers" name="workers" value="{{ workers|default:'' }}" placeholder="Enter Workers (DM, Cleaners, etc):">

                <label for="church_contributions"></label>
                <input type="text" id="church_contributions" name="church_contributions" value="{{ church_contributions|default:'' }}" placeholder="Enter Church Or Religious Contributions:">

                <label for="community_charity_contributions"></label>
                <input type="text" id="community_charity_contributions" name="community_charity_contributions" value="{{ community_charity_contributions|default:'' }}" placeholder="Enter Community & Charity contributions:">

                <label for="land_rates"></label>
                <input type="text" id="land_rates" name="land_rates" value="{{ land_rates|default:'' }}" placeholder="Enter Land Rates Cost:">

                <label for="time">Time (in years):</label>
                <input type="text" id="time" name="time" value="{{ time|default:'' }}" placeholder="Enter time in years">

                <button type="submit">Calculate</button>
            </form>

            {% if result %}
                <div class="result">
                    <h4>You will need to have a cash inflow of : <strong>{{ result }}, each month for  {{ time }} years, after your anticipated retirement date on {{ retirement_date }}</strong></h4>
                </div>
            {% endif %}

            {% if error %}
                <div class="error">
                    <p>{{ error }}</p>
                </div>
            {% endif %}
    </div>
    
</body>
{% endblock %}
</html>
