{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        <h1>Kenya Tax Liability Calculator</h1>

        <!-- Employment Form -->
        <form method="POST">
            {% csrf_token %}
            {{ employment_form.as_p }}
            <input type="submit" value="Calculate Employment Tax">
        </form>

        <!-- Business Form -->
        <form method="POST">
            {% csrf_token %}
            {{ business_form.as_p }}
            <input type="submit" value="Calculate Business Tax">
        </form>
    </div>
</body>
{% endblock %}
</html>
